<h1 class="title">Single Item</h1>
<div class="slider" id="single_item">
  <div><h1>01</h1></div>
  <div><h1>02</h1></div>
  <div><h1>03</h1></div>
  <div><h1>04</h1></div>
  <div><h1>05</h1></div>
  <div><h1>06</h1></div>
  <div><h1>07</h1></div>
  <div><h1>08</h1></div>
  <div><h1>09</h1></div>
  <div><h1>10</h1></div>
</div>

<h1 class="title">Multiple Items</h1>
<div class="slider" id="multiple_items">
  <div><h1>1</h1></div>
  <div><h1>2</h1></div>
  <div><h1>3</h1></div>
  <div><h1>4</h1></div>
  <div><h1>5</h1></div>
  <div><h1>6</h1></div>
  <div><h1>7</h1></div>
  <div><h1>8</h1></div>
  <div><h1>9</h1></div>
  <div><h1>10</h1></div>
</div>

<h1 class="title">Responsive Display</h1>
<div class="slider" id="responsive">
  <div><h1>1</h1></div>
  <div><h1>2</h1></div>
  <div><h1>3</h1></div>
  <div><h1>4</h1></div>
  <div><h1>5</h1></div>
  <div><h1>6</h1></div>
  <div><h1>7</h1></div>
  <div><h1>8</h1></div>
  <div><h1>9</h1></div>
  <div><h1>10</h1></div>
</div>

<h1 class="title">Variable Width</h1>
<div class="slider" id="variable_width" role="toolbar">
  <div style="width: 100px;height: 126px"><h1>100</h1></div>
  <div style="width: 150px; height: 126px"><h1>150</h1></div>
  <div style="width: 170px; height: 126px"><h1>170</h1></div>
  <div style="width: 50px; height: 126px"><h1>50</h1></div>
  <div style="width: 250px; height: 126px"><h1>250</h1></div>
  <div style="width: 180px; height: 126px"><h1>180</h1></div>
  <div style="width: 155px; height: 126px"><h1>155</h1></div>
  <div style="width: 247px; height: 126px"><h1>247</h1></div>
  <div style="width: 98px; height: 126px"><h1>98</h1></div>
  <div style="width: 192px; height: 126px"><h1>192</h1></div>
</div>

<h1 class="title">Adaptive Height</h1>
<div class="slider" id="adaptive_height">
  <div>
    <h1>
      1
      <p>+</p>
    </h1>
  </div>
  <div>
    <h1>
      2
      <p>+</p>
      <p>+</p></h1>
  </div>
  <div>
    <h1>
      3
      <p>+</p>
      <p>+</p>
      <p>+</p>
    </h1>
  </div>
  <div>
    <h1>
      4
      <p>+</p>
      <p>+</p>
      <p>+</p>
      <p>+</p>
    </h1>
  </div>
</div>

<h1 class="title">Center Mode</h1>
<div class="slider center" id="center">
  <div><h1>1</h1></div>
  <div><h1>2</h1></div>
  <div><h1>3</h1></div>
  <div><h1>4</h1></div>
  <div><h1>5</h1></div>
  <div><h1>6</h1></div>
  <div><h1>7</h1></div>
  <div><h1>8</h1></div>
  <div><h1>9</h1></div>
  <div><h1>10</h1></div>
</div>

<h1 class="title">Lazy Loading</h1>
<div class="slider" id="lazy">
  <div><img data-lazy="assets/deno.jpg" /></div>
  <div><img data-lazy="assets/drive.jpg" /></div>
  <div><img data-lazy="assets/exaid.jpg" /></div>
  <div><img data-lazy="assets/hibiki.jpg" /></div>
  <div><img data-lazy="assets/kabuto.jpg" /></div>
  <div><img data-lazy="assets/ooo.jpg" /></div>
  <div><img data-lazy="assets/ryu.jpg" /></div>
  <div><img data-lazy="assets/wizard.jpg" /></div>
</div>

<h1 class="title">Autoplay</h1>
<div class="slider" id="autoplay">
  <div><h1>01</h1></div>
  <div><h1>02</h1></div>
  <div><h1>03</h1></div>
  <div><h1>04</h1></div>
  <div><h1>05</h1></div>
  <div><h1>06</h1></div>
  <div><h1>07</h1></div>
  <div><h1>08</h1></div>
  <div><h1>09</h1></div>
  <div><h1>10</h1></div>
</div>

<h1 class="title">Fade</h1>
<div class="slider" id="fade">
  <div><img src="assets/deno.jpg" /></div>
  <div><img src="assets/drive.jpg" /></div>
  <div><img src="assets/exaid.jpg" /></div>
  <div><img src="assets/hibiki.jpg" /></div>
  <div><img src="assets/kabuto.jpg" /></div>
  <div><img src="assets/ooo.jpg" /></div>
  <div><img src="assets/ryu.jpg" /></div>
  <div><img src="assets/wizard.jpg" /></div>
</div>

<h1 class="title">Add & Remove</h1>
<div class="slider" id="add_remove">
  <div><h1>1</h1></div>
</div>
<div class="buttons">
  <span class="button" id="add_slide">Add Slide</span>
  <span class="button" id="remove_slide">Remove Slide</span>
</div>
